<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pv.modular.system.mapper.AddrMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="SysDept">
		<id column="id" property="id" />
		<result column="inverter_id" property="inverter_id" />
		<result column="inverter_addr" property="inverter_addr" />
	</resultMap>

</mapper>
